.attendanceCardContainer {
display: flex;
overflow: hidden;
flex-direction: column;
padding: 1.5% 4%;
background-color: white;
color: #005151;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
border-radius: 16px;
max-width: 100%;
justify-content: center;
min-width: 100%;

}

.date{
color: #757575;
font-family: "Volte Rounded";
font-weight: 500;
font-size: .9em;
}

.totalHours{
font-size: 1.8em;
font-family: "Volte Rounded";
font-weight: 500;
}

.totalHoursLabel {
font-size: .9em;
}

.punch {
display: flex;
flex-direction: column;
align-items: center;
}

.punch .punchTime {
font-size: 1.2em;
color: #757575;
font-family: "Volte Rounded";
}

.punch .punchType {
font-size: .9rem;
}


.punchContainer {
display: flex;
align-items: center;
justify-content: space-between;
}


.totalHoursContainer {
display: flex;
align-items: right;
flex-direction: column;
}