@import "../../../Variables.css";

#signInForm {
display: flex;
flex-direction: column;
gap: 5px;

}

#signInForm input:not([type="submit"]) { border: 1px solid var(--light-teal);
padding: 10px;}

#signInForm button:hover { background-color: var(--light-teal); }

#signInForm button {
align-self: center;
border: 1px solid transparent;
}