.employeeCard {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #D9D9D9;
}

.employeeName {
    font-family: 'Volte Rounded';
    font-weight: 600;
    color: var(--dark-teal);
    font-size: 1.75em;
    flex: 1;
}

.employeeCard img {
    max-width: 33%;
    object-fit: cover;
    border-radius: 50%;
}

.employeeList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5em 2em;
    justify-items: center;
}

@media (max-width: 768px) {
    .employeeList {
        grid-template-columns: repeat(2, 1fr);
    }
}