.attendanceCard1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    align-items: center;
}

.allAttendance {
    display: flex;
    justify-content: center;
}

.backButton{
    width: 10rem;
    margin-bottom:2rem;
    padding: 1rem 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    position: relative;
    height: 50px;
    width: 70px;
    font-size: 1.5em;
}

h1{
    margin-left: 6rem;
    color: #005151;
}

.backArrow {
    max-height: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
 }

.viewAll{
    font-family: "volte rounded";
    background: white;
    position: relative;
    background: white;
    color: #005151;
    width: 10rem;
    margin-bottom:2rem;
    padding: 1rem 0;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.viewAll::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    left: 0;
    bottom: 0;
    background: #005151;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.viewAll:hover::after{
    transform: scale(1, 1);
}