.attendanceCard1 {
    padding: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius:  7px;
    padding-left: 250px;
    width: 3000px;

}

.backButton{
color: #005151;
}


.backArrow {
max-height: 30px;}