.attendanceCard1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    align-items: center;
    background-color: yellow;

}

.backButton{
color: #005151;
}


.backArrow {
max-height: 30px;}
