.location {
display: flex;
height: 2.5em;
width: 20em;
gap: 8px;
background-color: #E4FAD9;
border-color: #C9ECB9;
border: thin;
align-items: center;
justify-content: center;
flex-direction: row;
padding: auto;
border-radius: 30px;
margin-bottom: 8px;
}

.officeReach {
margin-right: auto;
}