.clockinComponents{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 6px;
}

h1 {
font-family: 'Volte Rounded';
font-weight: 600;
font-size: 2.5em;
}

h2 {
font-size: 1.7em;
}

.clock {
font-family: 'Volte Rounded';
font-weight: 500;
font-kerning: 13%;
color: black;}

.button {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 22px;
color: white;
background-color: #005151;
border-radius: 16px;
width: 12em;
padding: 12px 30px;
border: none;
}

.button:hover {
background-color:  #107E7E;
}

.button:active {
background-color: #002c2c !important;
}

.personal {
font-family: 'Volte Rounded';
font-weight: regular;
color: #005151;
}

h6 {
font-family: 'Volte Rounded';
font-weight: regular;
font-size: 14px;
color: #757575;
text-align: center;
justify-content: center;
margin-top: auto;
margin-bottom: auto;
margin-right: auto;
}

.locationIcon {
height: 22px;
width: 18px;
opacity: 0.6;
border: none;
align-items: center;
justify-content: center;
margin-left: auto;
}

.location {
display: flex;
height: 2.5em;
width: 20em;
gap: 8px;
background-color: #E4FAD9;
border-color: #C9ECB9;
border: thin;
align-items: center;
justify-content: center;
flex-direction: row;
padding: auto;
border-radius: 30px;
margin-bottom: 8px;
}

.clockLocation {
display: flex;
flex-direction: column;
gap: 13px;
}