.clockinComponents {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 6px;
width: 100%;
}

.clock h1 {
font-family: 'Volte Rounded';
font-weight: 600;
font-size: 2.5em;
}

.clock h2 {
font-size: 1.7em;
}

.clock h1 {
margin: 0;
}

.breakTimer {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 1.5em;
color: #576460;
}

.timerBreak {
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
gap: 4px;
}

.clock {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-family: 'Volte Rounded';
font-weight: 500;
font-kerning: 13%;
text-align: center;
color: black;
width: 100%;
}

.button {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 22px;
color: white;
background-color: #005151;
border-radius: 16px;
padding: 12px 30px;
border: none;
width: 16em;
}

.button:hover {
background-color:  #107E7E;
}

.button:active {
background-color: #002c2c !important;
}

.button:disabled, .endbreakButton:disabled, .breakButton:disabled {
background-color: #C4C4C4;
opacity: 0.5;

}


.locationIcon {
height: 1em;
opacity: 0.6;
border: none;

}

.location {
display: flex;
max-width: 100%;
gap: 1em;
justify-content: center;
align-items: center;
background-color: #ceddf5;
border-color: #C9ECB9;
border: thin;
border-radius: 16px;
word-wrap: break-word;
padding: 1em;

margin-bottom: 1em;
}

.personal {
font-family: 'Volte Rounded';
font-weight: regular;
color: #005151;
}

h6 {
font-family: 'Volte Rounded';
font-weight: regular;
font-size: 14px;
color: #757575;
text-align: center;
justify-content: center;
margin-top: auto;
margin-bottom: auto;

}

.clockLocation {
position: relative;
display: flex;
flex-direction: column;
gap: 1em;
justify-content: center;
align-items: center;
}

.buttonContainer {
display:flex;
flex-direction: column;
justify-content: center;
gap: 12px;
width: 100%;
}

.clockInButtonContainer {
display: flex;
flex-direction: column;
gap: .5em;
width: 100%;
}

.breakClockOutButtonContainer {
display: flex;
flex-direction: row;
gap: .5em;
}

.shareLocationContainer {
display: flex;
flex-direction: column;
gap: .5em;
}


.endbreakButton {
position: relative;
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #038299;
border-radius: 16px;
max-width: 9em;
width: 9em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.endbreakButton:hover {
background-color:  #107E7E;
}

.endbreakButton:active {
background-color: #002c2c !important;
}

.breakButton {
position: relative;
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #0BBFDF;
border-radius: 16px;
max-width: 8em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.breakButton:hover {
background-color:  #107E7E;
}

.breakButton:active {
background-color: #002c2c !important;
}

.clockoutButton {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #576460;
border-radius: 16px;
width: 8em;
max-width: 8em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.clockoutButton:hover {
background-color:  #107E7E;
}

.clockoutButton:active {
background-color: #002c2c !important;
}

