.clockinComponents {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 6px;
}

h1 {
font-family: 'Volte Rounded';
font-weight: 600;
font-size: 2.5em;
}

h2 {
font-size: 1.7em;
}

.breakTimer {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 1.5em;
color: #576460;
}

.timerBreak {
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
gap: 4px;
}

.clock {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-family: 'Volte Rounded';
font-weight: 500;
font-kerning: 13%;
text-align: center;
color: black;}

.button {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 22px;
color: white;
background-color: #005151;
border-radius: 16px;
width: 12em;
padding: 12px 30px;
border: none;
}

.button:hover {
background-color:  #107E7E;
}

.button:active {
background-color: #002c2c !important;
}

.personal {
font-family: 'Volte Rounded';
font-weight: regular;
color: #005151;
}

h6 {
font-family: 'Volte Rounded';
font-weight: regular;
font-size: 14px;
color: #757575;
text-align: center;
justify-content: center;
margin-top: auto;
margin-bottom: auto;

}

.locationIcon {
height: 22px;
width: 18px;
opacity: 0.6;
border: none;
align-items: center;
justify-content: center;
margin-left: auto;
}

.location {
display: flex;
height: 2.5em;
width: 20em;
gap: 8px;
background-color: #E4FAD9;
border-color: #C9ECB9;
border: thin;
align-items: center;
justify-content: center;
flex-direction: row;
padding: auto;
border-radius: 30px;
margin-bottom: 8px;
}

.clockLocation {
position: relative;
display: flex;
flex-direction: column;
gap: 1em;
justify-content: center;
align-items: center;
}

.buttonContainer {
display:flex;
flex-direction: row;
justify-content: center;
gap: 12px;
}

.endbreakButton {
position: relative;
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #038299;
border-radius: 16px;
max-width: 9em;
width: 9em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.endbreakButton:hover {
background-color:  #107E7E;
}

.endbreakButton:active {
background-color: #002c2c !important;
}

.breakButton {
position: relative;
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #0BBFDF;
border-radius: 16px;
width:9em;
max-width: 8em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.breakButton:hover {
background-color:  #107E7E;
}

.breakButton:active {
background-color: #002c2c !important;
}

.clockoutButton {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 20px;
color: white;
background-color: #576460;
border-radius: 16px;
width: 8em;
max-width: 8em;
height: 2.8em;
padding: 12px 30px;
border: none;
}

.clockoutButton:hover {
background-color:  #107E7E;
}

.clockoutButton:active {
background-color: #002c2c !important;
}

.officeReach {
margin-right: auto;
}