.clockinComponents{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 6px;
}

h1 {
font-family: 'Volte Rounded';
font-weight: 600;
font-size: 2.5em;
}

h2 {
font-size: 1.7em;
}

.clock {
font-family: 'Volte Rounded';
font-weight: 500;
font-kerning: 13%;
color: black;}

.button {
font-family: 'Volte Rounded';
font-weight: 500;
font-size: 15px;
color: white;
background-color: #005151;
border-radius: 16px;
width: 18em;
height: 4em;}

.button:hover {
background-color:  #107E7E;
}

.personal {
font-family: 'Volte Rounded';
font-weight: regular;
color: #005151;
}